/* CSS RESET */
*{
    margin: 0px;
    padding: 0px;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
}
#navbar::before{
    content: "";
    background-color: rgb(255, 0, 0);
    position: absolute;
    z-index: -1;
    opacity: 0.55;
    height: 100%;
    width: 100%;
    top: 0px;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 34px;
}
#navbar ul li a{
    color: whitesmoke;
    display: block;
    padding: 3px 34px;
    margin: 24px;
    text-decoration: none;
    border-radius: 20px;
    font-family: 'Anton', sans-serif;
}
#navbar ul li a:hover{
    color: black;
    background-color: whitesmoke;
}
/* Logo and Images */
#logo{
    margin: 0px 34px;
}
#logo img{
    margin: 20px 6px;
    height: 88px;
    width: 88px;
}
/* Home Section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 623px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url('images/bg1.jpg') no-repeat center center/cover;
    position: absolute;
    z-index: -2;
    opacity: 0.9;
    height: 629px;
    width: 100%;
}
#home h1{
    font-size: 3rem;
    padding: 12px;
    color: rgb(47 128 175);
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    font-size: 1.5rem;
    padding: 12px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Bree Serif', serif;
}
.center{
    text-align: center;
}
.h-primary{
    font-size: 2rem;
    padding: 12px;
}
.h-secondary{
    font-size: 2rem;
    padding: 14px;
}
/* Button */
.btn{
    padding: 2px 22px;
    border: 2px solid black;
    background-color: whitesmoke;
    color: black;
    font-size: 1.5rem;
    margin: 19px;
    border-radius: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(111, 152, 175);
}
/* Services Section */
#services{
    display: flex;
    margin: 43px;
}
section #services-container{
    width: 60px;
}
#services a.box{
    border: 2px solid black;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 19px;
    background-color: rgb(243, 191, 191);
    width: 250px;
    text-decoration: none;
    color: black;
}
#services .box img{
    height: 249px;
    width: 240px;
}
#h-primary-center{
    font-family: cursive;
    width: 200px;
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    font-size: 30px;
}
#h-secondary-center{
    width: 219px;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 25px;
}
#services a.box:hover{
    border: 2px solid black;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 19px;
    background-color: rgb(228, 109, 109);
    width: 250px;
}
/* Sponsors Section */
#clients{
    display: flex;
    margin: 43px;
}
#clients .client-item{
    border: 2px solid black;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 19px;
    background-color: rgb(243, 191, 191);
    width: 250px;
}
#clients .client-item img{
    height: 249px;
    width: 240px;
}
#clients .client-item:hover{
    border: 2px solid black;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 19px;
    background-color: rgb(228, 109, 109);
    width: 250px;
}
/* Contact Section */

#contact-box{
    background: url('images/contact us.jpg') no-repeat center center/cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 34px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    opacity: 0.9;
    margin-top: 43px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding-bottom: 2px;
    padding: 7px;
    border: 2px solid black;
    border-radius: 9px;
}
#contact-box button{
    font-size: 20px;
    background: black;
    color: whitesmoke;
    border: 2px solid red;
    border-radius: 9px;
    padding: 9px;
    margin-left: 144px;
    margin-top: 12px;
}
#contact-box button:hover{
    font-size: 20px;
    background: whitesmoke;
    color: black;
    border: 2px solid red;
    border-radius: 9px;
    padding: 9px;
    margin-left: 144px;
    margin-top: 12px;
}
/* Footer */
#center{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    padding: 9px 20px;
}
